<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Records | LC Academy</title>
</head>
<body>
    <form action="http://localhost:5000/add-new-record/" method="post">
        <h3>Student Information</h3>
        <label>Name</label><br>
        <input type="text" name="name"><br>

        <label>Address</label><br>
        <textarea name="add"></textarea><br>

        <label>City</label><br>
        <input type="text" name="city"><br>

        <label>PINCODE</label><br>
        <input type="text" name="pin"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>